<div id="navbar" class="navbar-collapse collapse">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'advertiser.advertiserDetails.general'}}General{{/link-to}}</li>
    <li>{{#link-to 'advertiser.advertiserDetails.creatives'}}Creatives{{/link-to}}</li>
    <li>{{#link-to 'advertiser.advertiserDetails.settings'}}Settings{{/link-to}}</li>
  </ul>
</div>
<div class="container">
  {{outlet}}
</div>
