<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'advertiser.advertiserList'}}Advertisers{{/link-to}}</li>
        <li>{{#link-to 'doge'}}Doge{{/link-to}}</li>
        <li>{{#link-to 'magicandfun'}}Magic and Fun{{/link-to}}</li>
      </ul>
    </div>
  </div>
</nav>
<div class="container main-container">
  {{outlet}}
</div>
